<section class="cv">
	<h1><%= t("cvHeader") %></h1>
	<div class="main">
		<div class="col1">
			<p>Ewa Łokas</p>
			<p>18 . 04 . 1991r.</p>
			<p>Przemęczany 31, 32-107 Radziemice</p>
			<p>501 679 742</p>
			<p>ewik3118@wp.pl</p>
		</div>
		<div class="col5">
						<div class="pattern2">
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				
			</div> 
		</div>
	</li>
</div>
<ul>
	<li>	
		<div class="icon">			
			<div class="piece1"></div>
			<div class="piece2"></div>
			<div class="piece3"></div>
			<div class="piece4"></div>
			<div class="piece5"></div>	
		</div>
		<h2 class="col1"><%= t("skills") %></h2>
	</li>	
	<li>
		<h3 class="col1"><%= t("skillsHeader1") %></h3>
		<p class="col5">
			<span><%= t("hard") %>: JavaScript, HTML5, XHTML, CSS3</span>
			<span><%= t("medium") %>: PHP, Ruby</span>
			<span><%= t("basic") %>: C++, C, Java, Turbo Pascal  </span>
		</p>
	</li>
	<li>
		<h3 class="col1"><%= t("skillsHeader2") %></h3>
		<p class="col5">
			<span><%= t("hard") %>: jQuery, SASS</span>
			<span><%= t("medium") %>: Bootstrap</span>
		</p>
	</li>
	<li>
		<h3 class="col1"><%= t("skillsHeader3") %></h3>
		<p class="col5">
			<span><%= t("basic") %>: Symphony 2, ZEND</span>
			<span><%= t("medium") %>: Ruby on Rails</span>
		</p>
	</li>
	<li>
		<h3 class="col1"><%= t("skillsHeader4") %></h3>
		<p class="col5">
			<span>Windows, Linux</span> 
			<span><%= t("for_system") %></span>
		</p>
	</li>
	<li>
		<h3 class="col1"><%= t("skillsHeader5") %></h3>
		<p class="col5">
			<span>SQL, MySQL</span>
		</p>
	</li>
	<li>
		<h3 class="col1"><%= t("skillsHeader6") %></h3>
		<p class="col5">
			<span>GIT</span>
		</p>
	</li>
	<li>
		<h3 class="col1"><%= t("skillsHeader7") %></h3>
		<p class="col5">
			<span><%= t("hard") %>: Wordpress</span>
			<span><%= t("medium") %>: Typo 3</span>
			<span><%= t("basic") %>: Magento</span>
		</p>
	</li>
	<li>
		<h3 class="col1"><%= t("skillsHeader8") %></h3>
		<p class="col5">
			<span><%= t("medium") %>: Adobe Photoshop, Adobe Illustrator</span>
			<span><%= t("basic") %>: GIMP, Corel Draw</span>
		</p>
	</li>
	<li>
		<h3 class="col1"><%= t("skillsHeader9") %></h3>
		<p class="col5">
			<span>MVC, OOP, AJAX, SEO, RWD, Usability,</span>
			<span>cross browsers, XML, JSON</span>
		</p>
	</li>
</ul>
<ul>
	<li>	
		<div class="icon">			
			<div class="piece1"></div>
			<div class="piece2"></div>
			<div class="piece3"></div>
			<div class="piece4"></div>
			<div class="piece5"></div>	
		</div>
		<h2 class="col1"><%= t("experience") %></h2>
	</li>
	<li>
		<h3 class="col1">Frontend/Backend Developer - Logic IMS</h3>
		<p class="col5">
			<span>10.03.15 - <%= t("actually") %></span>
		</p>
	</li>
	<li>
		<div class="col1">
			<div class="icon small">			
				<div class="piece1"></div>
				<div class="piece2"></div>
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>	
			</div>
			<p>	<span>Logic IMS portfolio</span>
			</p>
		</div>
		<p class="col5">
			<a href="http://www.logicims.com">www.logicims.com</a>
			<%= t("logicims_brand_desc") %>
		</p>
	</li>
	<li>
		<div class="col1">
			<div class="icon small">			
				<div class="piece1"></div>
				<div class="piece2"></div>
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>	
			</div>
			<p>	<span>Adretail</span>
			</p>
		</div>
		<p class="col5">
			<a href="http://adretail.pl/">adretail.pl</a>
			<%= t("adretail_brand_desc") %>
		</p>
	</li>
	<li>
		<div class="col1">
			<div class="icon small">			
				<div class="piece1"></div>
				<div class="piece2"></div>
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>	
			</div>
			<p>	<span><%= t("contest") %> interia Acidolac</span>
			</p>
		</div>
		<p class="col5">
			<a href="https://rodzinnewakacje.interia.pl/">www.rodzinnewakacje.pl</a>
			<%= t("acidolac_brand_desc") %>
		</p>
	</li>
	<li>
		<div class="col1">
			<div class="icon small">			
				<div class="piece1"></div>
				<div class="piece2"></div>
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>	
			</div>
			<p>	<span>Promocyjni</span>
			</p>
		</div>
		<p class="col5">
			<a href="http://www.promocyjni.pl/">www.promocyjni.pl</a>
			<%= t("promocyjni_brand_desc") %>
		</p>
	</li>
	<li>
		<h3 class="col1">Frontend/Backend Developer - freelance</h3>
		<p class="col5">
			<span>12.12.13 - 10.03.15</span>
		</p>
	</li>
	<li>
		<div class="col1">
	
			<p>	<span></span>
			</p>
		</div>
		<div class="clear"></div>
	</li>


		<li>
		<h3 class="col1">Frontend developer - GrapeApps</h3>
		<p class="col5">
			<span>20.06.13 - 14.10.13</span>
		</p>
	</li>
	<li>
		<div class="col1">
			<div class="icon small">			
				<div class="piece1"></div>
				<div class="piece2"></div>
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>	
			</div>
			<p>	<span>GrapeApss</span>
			</p>
		</div>
		<p class="col5">
			<a href="http://grapeapps.co.uk/">grapeapps.co.uk</a>
			<%= t("grapeapps_brand_desc") %>
		</p>
	</li>
	<li>
		<div class="col1">
			<div class="icon small">			
				<div class="piece1"></div>
				<div class="piece2"></div>
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>	
			</div>
			<p>	<span>GrapeApss</span>
			</p>
		</div>
		<p class="col5">
			<a href="http://www.essencecleanse.com/home">www.essencecleanse.com</a>
			<%= t("essence_brand_desc") %> 
		</p>
	</li>
		<li>
		<h3 class="col1">Frontend/Backend Developer - Bold Agency</h3>
		<p class="col5">
			<span>20.03.13 - 14.06.13</span>
		</p>
	</li>
	<li>
		<div class="col1">
			<div class="icon small">			
				<div class="piece1"></div>
				<div class="piece2"></div>
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>	
			</div>
			<p>	<span>Inpost</span>
			</p>
		</div>
		<p class="col5">
			<a href="http://www.inpost.pl/">www.inpost.pl</a>
			<%= t("inpost_brand_desc") %>
		</p>
	</li>
		<li>
		<div class="col1">
			<div class="icon small">			
				<div class="piece1"></div>
				<div class="piece2"></div>
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>	
			</div>
			<p>	<span>House of Skills</span>
			</p>
		</div>
		<p class="col5">
			<a href="http://weknowhow.pl/">weknowhow.pl</a>
			<%= t("weknowhow_brand_desc") %>
		</p>
	</li>
			<li>
		<div class="col1">
			<div class="icon small">			
				<div class="piece1"></div>
				<div class="piece2"></div>
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>	
			</div>
			<p>	<span>Galeria Kazimierz</span>
			</p>
		</div>
		<p class="col5">
			<%= t("gallerykazimierz_brand_desc") %>
		</p>
	</li>
			<li>
		<div class="col1">
			<div class="icon small">			
				<div class="piece1"></div>
				<div class="piece2"></div>
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>	
			</div>
			<p>	<span>Klub maluszka</span>
			</p>
		</div>
		<p class="col5">
			<a href="https://klubmaluszka.hipp.pl">klubmaluszka.hipp.pl</a>
			<%= t("hipp_brand_desc") %>
		</p>
	</li>

	<li>
		<div class="col1">
			<div class="icon small">			
				<div class="piece1"></div>
				<div class="piece2"></div>
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>	
			</div>
			<p>	<span>Mennica</span>
			</p>
		</div>
		<p class="col5">
			<a href="http://www.mennica.com.pl">www.mennica.com.pl</a>
			<%= t("mennica_brand_desc") %>
		</p>
	</li>
	<li>
		<div class="col1">
			<div class="icon small">			
				<div class="piece1"></div>
				<div class="piece2"></div>
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>	
			</div>
			<p>	<span>Podstadionem</span>
			</p>
		</div>
		<p class="col5">
			<a href="http://www.podstadionem.pl/">www.podstadionem.pl</a>
			<%= t("podstadionem_brand_desc") %>
		</p>
	</li>
	<li>
		<h3 class="col1">Junior PHP Developer - FALServices</h3>
		<p class="col5">
			<span>01.01.13 - 18.03.13</span>
		</p>
	</li>
	<li>
		<div class="col1">
			<div class="icon small">			
				<div class="piece1"></div>
				<div class="piece2"></div>
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>	
			</div>
			<p>	<span>
<%= t("falservices_brand") %>
			</span>
			</p>
		</div>
		<div class="clear"></div>
	</li>
	<li>
		<h3 class="col1">Frontend developer (<%= t("training") %>)</h3>
		<p class="col5">
			<span>10.07.12 - 11.09.12</span>
		</p>
	</li>
	<li>
		<div class="col1">
			<div class="icon small">			
				<div class="piece1"></div>
				<div class="piece2"></div>
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>	
			</div>
			<p>	<span><%= t("maszyna_brand_desc") %></span>
			</p>
		</div>
		<div class="clear"></div>
	</li>
	</ul>
	<ul>
	<li>	
		<div class="icon">			
			<div class="piece1"></div>
			<div class="piece2"></div>
			<div class="piece3"></div>
			<div class="piece4"></div>
			<div class="piece5"></div>	
		</div>
		<h2 class="col1"><%= t("education") %></h2>
	</li>
	<li>
		<h3 class="col1"><%= t("study") %></h3>
		<p class="col5">
			<span>01.10.11 - 30.03.13</span>
		</p>
	</li>
		<li>
		<h3 class="col1"><%= t("school") %></h3>
		<p class="col5">
			<span>01.09.07 - 08.06.11</span>
		</p>
	</li>
	</ul>
	<div class="clear"></div>
	<span class="clause col2">
	<%= t("clause") %>
	</span>
	
	<%= link_to(content_tag(:span, 'Download CV'), download_cv_path, :class => "btn", :target => "_self") %>
	
	
<div class="clear"></div>
</section>