<section class="home">
	<h1><%= t("home") %></h1>
<div class="contentAbout">
	<p>
		<%= t("text1") %>

	</p>
	<%= image_tag("ewa_lokas.jpg", class: "myPhoto", alt: "Ewa łokas - zdjęcie") %>
	<p class="forPicture">
		<%= t("text2") %>
	</p>
	</div>
	
	<div class="icons">
	<div class="pentagon big">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
				<%= image_tag("js_icon.png",  alt: "icon javaScript") %>
				</div>
			<div class="pentagon big">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
				<%= image_tag("css_icon.png",  alt: "icon CSS") %>
			</div>
			<div class="pentagon big">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
				<%= image_tag("HTML5_icon.png",  alt: "icon HTML5") %>
			</div>
					
<div class="pentagon small">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
				<%= image_tag("rails_icon.PNG",  alt: "icon Rails") %>
			</div>
		<div class="pentagon small">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
				<%= image_tag("bootstrap_icon.PNG",  alt: "icon bootstrap") %>
			</div>
			<div class="pentagon small">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
				<%= image_tag("jquery_icon.PNG",  alt: "icon jQuery") %>
			</div>
			<div class="pentagon small">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
				<%= image_tag("PHP_icon.png",  alt: "icon PHP") %>
			</div>
		<div class="pentagon smallDarker">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
				<%= image_tag("ps_icon.PNG",  alt: "icon Photoshop") %>
			</div>
			<div class="pentagon smallDarker">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
				<%= image_tag("ajax_icon.png",  alt: "icon AJAX") %>
			</div>
			<div class="pentagon smallDarker">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
				<%= image_tag("wordpress_icon.png",  alt: "icon Wordpress") %>
			</div>
				<div class="pentagon smallDarker">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
				<%= image_tag("git_icon.png",  alt: "icon Git") %>
			</div>
			<div class="pentagon smallDarkest">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
				<%= image_tag("sass_icon.png",  alt: "icon SASS") %>
			</div>
	<div class="pentagon smallDarkest">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
				<%= image_tag("ai_icon.png",  alt: "icon Adobe Illustrator") %>
			</div>
			<div class="pentagon smallDarkest">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
				<%= image_tag("mysql_icon.PNG",  alt: "icon MySQL") %>
			</div>
					<div class="pentagon bigDarker">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
			</div>
						
			<div class="pentagon bigDarker">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
			</div>
						<div class="pentagon bigDarker">		
				<div class="piece1"></div>
				<div class="piece2"></div>	
				<div class="piece3"></div>
				<div class="piece4"></div>
				<div class="piece5"></div>
			</div>
	</div>
	<div class="clear"></div>

</section>