
<section>
	<h1><%= t("portfolio") %></h1>
	<div class="item">
		<div class="col2 mockup">
			<%= image_tag("ewalokasportfolio_desktop.jpg", class: "desktop", alt: "barnd") %>
			<%= image_tag("ewalokasportfolio_ipad.png", class: "phablet", alt: "barnd") %> 
			<%= image_tag("ewalokasportfolio_iphone.jpg", class: "phone", alt: "barnd") %> 

		</div>
		<div class="clear"></div>
		<div class="col4 aboutSite">
			<div class="descrip">
				<h2>Brand Name</h2>
				<%= link_to "www.ewa.pl" %>
				<button class="btn" id="btn1"><%= t("see_more") %></button>
			</div>
			<div class="pattern2">
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				
			</div>
			<div class="clear"></div> 
			<div class="tags">
				<span class="tag">HTML 5</span>
				<span class="tag">CSS 3</span>
				<span class="tag">Rails</span>
				<span class="tag">Ruby</span>
				<span class="tag">java Script</span>
				<span class="tag">jQuery</span>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="item">
		<div class="col2 mockup">
			<%= image_tag("desktop.png", class: "desktop", alt: "barnd") %>
			<%= image_tag("phablet.png", class: "phablet", alt: "barnd") %> 
			<%= image_tag("iphone.png", class: "phone", alt: "barnd") %> 

		</div>
		<div class="clear"></div>
		<div class="col4 aboutSite">
			<div class="descrip">
				<h2>Brand Name</h2>
				<%= link_to "www.ewa.pl" %>
				<button class="btn"><%= t("see_more") %></button>
			</div>
			<div class="pattern2">
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				
			</div>
			<div class="clear"></div> 
			<div class="tags">
				<span class="tag">HTML 5</span>
				<span class="tag">CSS 3</span>
				<span class="tag">Rails</span>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="item">
		<div class="col2 mockup">
			<%= image_tag("desktop.png", class: "desktop", alt: "barnd") %>
			<%= image_tag("phablet.png", class: "phablet", alt: "barnd") %> 
			<%= image_tag("iphone.png", class: "phone", alt: "barnd") %> 

		</div>
		<div class="clear"></div>
		<div class="col4 aboutSite">
			<div class="descrip">
				<h2>Brand Name</h2>
				<%= link_to "www.ewa.pl" %>
				<button class="btn"><%= t("see_more") %></button>
			</div>
			<div class="pattern2">
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				<div>
					<div class="piece1"></div>
					<div class="piece2"></div>
					<div class="piece3"></div>
					<div class="piece4"></div>
					<div class="piece5"></div>
				</div>
				
			</div>
			<div class="clear"></div> 
			<div class="tags">
				<span class="tag">HTML 5</span>
				<span class="tag">CSS 3</span>
				<span class="tag">Rails</span>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="popup" id="popup">
		<div class="close" id="close">		
			<div class="piece1"></div>
			<div class="piece2"></div>	
			<div class="piece3"></div>
			<div class="piece4"></div>
			<div class="piece5"></div>
			<div></div>
		</div>
		<div class="slideItem">
			<div class="slide" id="item1">

				<!-- <div class="arrow left" id="left"></div> -->

				<%= image_tag("img.jpg", alt: "brand name deisgn in desktop") %>
<!-- 	<%= image_tag("basia.jpg", alt: "brand name deisgn in desktop") %>
<%= image_tag("ewa_lokas.jpg", alt: "brand name deisgn in desktop") %>
<%= image_tag("image.jpg", alt: "brand name deisgn in desktop") %>
-->

<!-- <div class="arrow right" id="right"></div> -->



</div>

</div>
</div>
</section>
